.or-menu {
    background-color: #ebeef8;
    border: 1px solid #666;
    padding: 3px;
    font-family: Sans-serif;
    font-style: italic;
    color: black;
}
.or-col {
  border: 1px solid #bcf;
  color: black;
  font-weight: bold;
  font-family: Sans-serif;
  background-color: #ebeef8;
  padding: 3px;
}
.or-grel {
  font-family: monospace;
  background-color: rgb(150,190,255);
  padding: 3px;
}
.caption {
  font-size: 0.8em;
  font-family: Sans-serif;	
  font-style: italic;
  color: grey;
  padding-left: 4em;
}
.bg-red {
    background-color: red;
}
.red {
    color: red;
}
.green {
    color: green;
}
.gray {
    color: gray;
}
.highlight-yellow {
    background-color: rgba(255,255,0,.4);
    padding: 3px;
}
.highlight-yellow-fixed {
    background-color: rgba(255,255,0,.4);
    font-family: monospace;
    padding: 3px;
}
.highlight-turq-fixed {
    background-color: rgba(0,255,255,.4);
    font-family: monospace;
    padding: 3px;
}
.highlight-green-fixed {
    background-color: rgba(0,255,0,.4);
    font-family: monospace;
    padding: 3px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
div.video {
 display: block;
 width: 100%;
}
div.video iframe {
  width: 70%; /* or, leave this line out and control width in the iframe code */
  margin-left: 15%; /* or, set to auto */
  margin-right: 15% /* or, set to auto */
}

.challenge {
  /*padding-left: 5px; */
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border: 1px solid;
  border-color: #eec275;
  margin-bottom: 10px;

  /** font-size: 20px;  **/
  /*background: linear-gradient(to bottom, #eec275, #f0c883);
  border-color: #eec275;*/
  margin-top: 0px;
  margin-left: -5px;
}
.challenge :before {
  font-family: 'Glyphicons Halflings';
  /* content: "✏";  */
  float: left;
  /*padding-left: 5px;
  padding-right: 5px;*/
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.challenge li {
  display: block;
  background: linear-gradient(to bottom, #eec275, #f0c883);
  border-color: #eec275;
  padding: 3px 3px 3px 6px;
}

.challenge p {
  margin: 5px !important;
  padding-left: 3px;
}

.no-bullet,
.no-bullet li {
 margin: 0 !important;
 padding: 0 !important;
 list-style: none;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
    background-color: #bd9550;
    padding: 0 5px 0 7px;
}

.glyphicon-collapse-down::after {
 /*content: url('images/arrow.png'); */
 content: '»';
 -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
display: block;
padding: 3px 0 2px 0;
color: #fff;

}
